.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 20px;
    font-family: 'Pacifico', cursive;
    font-family: 'Space Grotesk', sans-serif;
}

h2 {
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    font-family: 'Space Grotesk', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: hsl(210, 86%, 45%);
    color: hsl(236, 82%, 46%);
    padding: 20px;
    text-align: center;
}